<nav class="navbar navbar-default">
  <div class="container container2">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}{{ site.t[page.lang].home.url }}"><i class="fa fa-home"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        {% for menu in site.t[page.lang] %}
          <li><a href="{{ menu[1].url }}">{{ menu[1].name }}</a></li>
        {% endfor %}

        {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
        {% for post in posts %}
        <li>
          <a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>
        </li>
        {% endfor %}
        {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
        {% for page in pages %}
        <li>
          <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
        </li>
        {% endfor %}


      </ul>
    </div>
  </div>
</nav>