<section class="thirteen columns">
    <h1>Empleos</h1>
    <article>
        <header>
            <h1>Desarrollador Web y Desarrollador de Integraciones de Datos</h1>
            <span><address>Thot Strategy, CO</address><time>Noviembre 2015 a Agosto 2016</time></span>
        </header>
        <p>
            - Desarrollo de aplicación web de pronosticación de producción para Groupe Seb Colombia.<br>
            - Desarrollo de aplicación web que permite a la empresa publicar/administrar informes y reportes para una visualización sencilla y rápida.<br>
            - Desarrollo de integraciones de datos para extraer datos de una fuente, transformarlos y llevarlos a un destino.
        </p>
    </article>
    <article>
        <header>
            <h1>Desarrollador Web</h1>
            <span><address>Universidad EIA, CO</address><time>Noviembre 2014 a Diciembre 2014</time></span>
        </header>
        <p>
            Desarrollo de la página web del <a href="http://catalogofloraaltamontana.eia.edu.co/">Catálogo virtual de flora de Alta Montaña</a> en la cual se permite la administración y visualización de información de las especies obtenidas por el grupo de investigación Sostenibilidad, infraestructura y Territorio -SITE- de la universidad
        </p>
    </article>
    <article>
        <header>
            <h1>Desarrollador Web</h1>
            <span><address>Universidad EIA, CO</address><time>Julio 2013 a Junio 2014</time></span>
        </header>
        <p>
            Desarrollo de aplicación web que permite el rastreo del sistema de buses de la universidad.
        </p>
    </article>
</section>
