<section class="thirteen columns">
    <h1>Estudios informales</h1>
    <article>
        <header>
            <h1>Semillero de Programación Web</h1>
            <span><address>Universidad EIA, CO</address><time>Junio 2015 a Dicimebre 2015</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Semillero de Programación Avanzada</h1>
            <span><address>Universidad EIA, CO</address><time>Enero 2015 – Junio 2015</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Semillero de Desarrollo de Videojuegos</h1>
            <span><address>Universidad EIA, CO</address><time>Enero 2015 – Junio 2015</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Semillero de Desarrollo de Videojuegos</h1>
            <span><address>Universidad EIA, CO</address><time>Enero 2014 – Junio 2014</time></span>
        </header>
    </article>
</section>