<section class="thirteen columns">
    <h1>Habilidades Técnicas</h1>
    <article>
        <header>
            <h1>Desarrollo de software & Desarrollo web</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Laravel</em>, <em>PHP</em> &amp; <em>Git</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>HTML/CSS3</em> &amp; <em>Javascript</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Java</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>C++</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Administración de servidores, sistemas operativos & programas</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>AWS</em> & <em>EC2</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Linux</em> & <em>Windows</em>
        </p>
    </article>
</section>